.containerCadastro{
    display: flex;
    
}

.containerCadastro .cadastroDireita{
    width: 50vw;
    height: 100vh;
    
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.containerCadastro .cadastroDireita form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;

}
.containerCadastro .cadastroDireita form h1{
    text-align: center;
}

.containerCadastro .cadastroDireita form input{
    width: 30vw;
    height: 5vw;
    border-radius: 1vw;
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 10%;

}

.containerCadastro .cadastroDireita form button{
    width: 30vw;
    height: 5vw;
    color: #fff;
    background: #ef2558;

    border-style: none;
    border-radius: 1vw;

    font-size: large;
}


.containerCadastro .cadastroDireita p{
    text-align: end;
    color: #b0b0b0;
}

.containerCadastro .cadastroDireita a{
    text-align: end;
    color: #ef2558;
}

.containerCadastro .cadastroEsquerda{
    width: 50vw;
    height: 100vh;
    background: #ef2558;
    display: flex;
    align-items: end;

}

.containerCadastro .cadastroEsquerda img{
    width: 50vw;
}