.listagemProdutosContent{
    margin-top: -20px;
}
.listagemProdutosContent table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.listagemProdutosContent th {
    background: #d9d9d9;
    padding: 12px;
    text-align: left;
}
.listagemProdutosContent td {
    padding: 12px;
    border-top: 1px solid #eee;
}

.listagemProdutosContent h1{
    font-size: 3vw;
}


.listagemProdutosContent .editar {
    color: red;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.containerListagemProdutos {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    background: #fff;

}
.containerListagemProdutos .botoes{
    display: flex;
    justify-content: space-between;
}

.containerListagemProdutos .botoes input{
    width: 20vw;
    height: 3vw;
    margin-right: 2vw;

    border-style: solid;
    border-radius: 0.8vw;
    border-width: 1px;
    border-color: #BFBFBF;
}

.containerListagemProdutos .botoes button{
    width: 8vw;
    height: 3vw;
    margin-right: 2vw;

    font-size: 80%;

    border-style: solid;
    border-radius: 0.8vw;
    border-width: 1px;
    border-color: #BFBFBF;
    background-color: #FF4343;
    color: #fff;
}

@media (max-width: 1000px) {
    button {
      width: 10vw !important;
      height: 3.75vw !important;

    }
}

@media (max-width: 650px) {
    button {
      width: 12vw !important;
      height: 4.5vw !important;

    }
}

