table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
th {
    background: #d9d9d9;
    padding: 12px;
    text-align: left;
}
td {
    padding: 12px;
    border-top: 1px solid #eee;
}
.editar {
    color: red;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.listagemProdutosContent {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    background: #fff;

}
.listagemProdutosContent .botoes{
    display: flex;
    justify-content: space-between;
}

.listagemProdutosContent .botoes input{
    width: 20vw;
    height: 3vw;
    margin-right: 2vw;

    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #BFBFBF;
}

.listagemProdutosContent .botoes button{
    width: 8vw;
    height: 3vw;
    margin-right: 2vw;

    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #BFBFBF;
    background-color: #FF4343;
    color: #fff;
}

