* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.LoginContent {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-panel {
    width: 50%;
    background-color: #E3342F;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left-panel h1 {
    position: relative;
    top: -40px;

    text-align: center;

}

.form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: black;
    width: 70%;
    min-height: 300px;
}



.form-container input {
    width: 100%;
    height: 60px;
    font-size: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 30px;
}

.form-container button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    background-color: #E3342F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container label {
    display: block;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 15px;
}


.form-container p a {
    color: #3B82F6;
    text-decoration: none;
}

.form-container p {
    text-align: right;
    margin-top: 10px;
}

.right-panel {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0;

}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
}

.image-container img {
    max-width: 135%;
    height: auto;
}

.logo-container {
    position: absolute;
    top: 5px;
    right: 190px;
    text-align: center;
    color: #E3342F;
}

.main-image {
    max-width: 80%;
    height: auto;
}