.containerLoginCadastro{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.containerLoginCadastro .formContainer{
    display: flex;
    width: 100%;
    height: 100%;
}


.containerLoginCadastro .formContainer form {
    width: 50%;
    height: 100%;
    padding: 120px 0px;
}

.containerLoginCadastro .form-login{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.containerLoginCadastro .form-login input{
    width: 30vw;
    height: 5vw;
    border-radius: 1vw;
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 10%;
    padding-left: 5%;

    transition: 0.7s;
}

.containerLoginCadastro .form-login input:hover{
    width: 30vw;
    height: 5vw;
    border-radius: 1vw;
    border-style: solid;
    border-color: #ef2558;
    border-width: 10%;
}

.containerLoginCadastro .form-login input:focus{
    outline: none;
    border-color: #ef2558;
}

.containerLoginCadastro .form-login button{
    width: 30vw;
    height: 5vw;
    color: #fff;
    
    background: #ef2558;

    border-style: none;
    border-radius: 1vw;

    font-size: large;
    transition: 0.5s;
}

.containerLoginCadastro .form-login button:hover{
    width: 32vw;
    height: 5.4vw;
    color: #fff;
    
    background: #c1133f;

    border-style: none;
    border-radius: 1vw;

    font-size: large;
}

.containerLoginCadastro .form-login p{
    text-align: end;
    color: #b0b0b0;
}

.containerLoginCadastro .form-login a{
    color: #ef2558;
}


    

.containerLoginCadastro .form-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 100px 0px !important; 
}

.containerLoginCadastro .form-cadastro input{
    width: 30vw;
    height: 5vw;
    border-radius: 1vw;
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 10%;
    padding-left: 5%;

    transition: 0.7s;
}

.containerLoginCadastro .form-cadastro input:hover{
    width: 30vw;
    height: 5vw;
    border-radius: 1vw;
    border-style: solid;
    border-color: #ef2558;
    border-width: 10%;
}

.containerLoginCadastro .form-cadastro input:focus{
    outline: none;
    border-color: #ef2558;
}

.containerLoginCadastro .form-cadastro button{
    width: 30vw;
    height: 5vw;
    color: #fff;
    
    background: #ef2558;

    border-style: none;
    border-radius: 1vw;

    font-size: large;
    transition: 0.5s;
}

.containerLoginCadastro .form-cadastro button:hover{
    width: 32vw;
    height: 5.4vw;
    color: #fff;
    
    background: #c1133f;

    border-style: none;
    border-radius: 1vw;

    font-size: large;
}

.containerLoginCadastro .form-cadastro p{
    text-align: end;
    color: #b0b0b0;
}

.containerLoginCadastro .form-cadastro a{
    color: #ef2558;
}






.overlayContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;

    transform: translateX(100%);
    transition: 0.7s;
}

.formContainer.mover .overlayContainer {
  transform: translateX(0%);
  transition: 0.7s;
}

.overlay{
    width: 100%;
    height: 100%;
    background: #ef2558;
    position: absolute;

    display: flex;
    align-items: end;
    justify-content: center;
}


.overlay img{
    width: 40vw;
    transition: 0.7s;
}

.overlay img:hover{
    width: 50vw;
}

.overlay:nth-child(2){
    transform: scaleX(-1);
    transition: 0.5s;
}


.formContainer.mover .overlay:nth-child(2){
    z-index: -1;
    opacity: 0;
    transition: 0.5s;
}

