.perfilContainer body {
  margin: 0;
}

.perfilContainer .perfilContent{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.perfilContainer .perfilContent h1{
  font-size: 5rem;
}

.perfilContainer .perfilContent ul {
  display: flex;

  width: 100vw;
  justify-content: start;

  padding: 2vw;

  flex-wrap: wrap;
}