.perfilContainer body {
  margin: 0;
}

.perfilContainer .perfilContent .perfil{
  width: 100vw;
  height: 500px;
  background: url("../Assets/images/bgPerfil.svg");
  background-size: cover;       /* cobre todo o elemento */
  background-position: center;  /* centraliza a imagem */
  background-repeat: no-repeat; /* evita repetição */
}

