.recompensaContent{
    padding: 5px;
    margin-bottom: 20px;

    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;

    width: 21%;

    text-align: center;

}

.recompensaContent hr{
    width: 80%;
    height: 1px;
    color: black;
    background: #000;
    border-style: none;
    margin: 5%;

}

.recompensaContent .preco{
    color: #FF4343;
    font-weight: bolder;
}

.recompensaContent p{
    font-size: 1.4vw;
}

.recompensaContent .nome{
    margin-top: 5%;
    color: #000;
}


.recompensaContent img{
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;

    width: 80%;
}



.recompensaContent a{
    text-decoration: none;
}