.validacaoContent{
  display: flex;
  padding: 2vw;
}

.validacaoContent .left-box figure{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 15px;

  width: 50vw;

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.validacaoContent .left-box figure img{
  max-width: 100%;
}

.validacaoContent .left-box h1{
  margin-bottom: 2vw;
  font-size: 3vw;
  font-weight: 400;
}

.validacaoContent .right-box p{
  font-size: 1.5vw;
  
}

.validacaoContent .right-box {
  margin-top: 5vw;
  margin-left: 2vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .validacaoContent .reprovar {
    background-color: white;
    color: #ff4a4a;
    
    border-style: solid;
    border-color: #ff4a4a;
    border-width: 1px;
  }

  .validacaoContent  .aprovar {
    background-color: #ff4a4a;
    color: white;

    border-style: none;
  }

    .validacaoContent .buttons {
    margin-top: auto;
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
  }

  .validacaoContent .buttons button {
    padding: 0.8vw 2.4vw;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;

    font-size: 1.5vw;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .validacaoContent .buttons .proximo, .validacaoContent .buttons .anterior{
    padding: 0 2vw;
  }

